@charset "UTF-8";
/* CSS Document */

html {
	height: 100%;
	font-size: 100%;
	background-image: url(../images/background.png) ;
	
}

header {
	background-color: #369;
	border-bottom-left-radius: 5px; 
	border-bottom-right-radius: 5px; 
	padding: 0% 5%;
}


h1 {
	text-align: right;
	font-family: "Georgia", Times New Roman, Times, serif;
	font-size: 2em;
	color: #FFF;
	margin: 0;
	padding: 1%;
}



.billboard1 {
	width: 85%;
}

.left {
	float:left;
	width: 15%;
	}

.right {
	float:right;
	width: 85%;
	}
	
@media only screen and (min-width:10em){
	
	.left2 {
	width: 50%;
	display: none;
	}

	.right2 {
	width: 88%;
	padding: 1%;
	}

	.media {
		display: inherit;
	}
	
	.media2 {
		display: none;
	}
	

	
}



@media only screen and (min-width:70em){
	
	.left2 {
	float: left;
	width: 45%;
	display: inherit;
	}

	.right2 {
	float: right;
	width: 53%;
	padding: 1%;
	}

	.media {
		display: none;
	}
	
	.media2 {
		display: inherit;
	}

	
}

.picture {
	width: 100%;
}
 
.wrapper2 {
	background: #369;
	width: 100%;
	margin: 10;
	padding: .5%;
}	

p2 { 
	padding: 1% 1% 1% 6%;
	text-align: left;
	font-size: 1.5em;
	font-family:Arial, "Helvetica", sans-serif;
	color:#369;
}

.wrapper {
	background: #FFF;
	width: 80%;
	margin: 0% 5% 0% 6%;
	padding: 3%;
}	


 
h2 {
	text-align: left;
	font-family: Arial, "Helvetica", sans-serif;
	font-size: 2em;
	color: #369;
}

h3 {
	text-align: left;
	font-family: Arial, "Helvetica", sans-serif;
	font-size: 1.5em;
	padding: 1% 1% 0% 0%;
	color: #369;
}
	
	

p { 
	font-size: 1.5em;
	font-family: "Georgia", Times New Roman, Times, serif;
	color:#000;
	}
	
p4 { 
	font-size: 1.5em;

	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	} 

p3 { 
	padding: 1.5% 1.5% 1.5% 0%;
	display: inline;
	font-size: 1.5em;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	} 

figcaption {
	padding: 1.5% 1.5% 1.5% 0%;
	text-align:center;
	font-size: 1em;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
}

footer {
	font-size: 1em;
	background-color: #FFF;
	padding: .5% .5% .5% 3%;
	width: 100%;
	position: fixed;
	bottom: 0;
	box-shadow: 0px 14px 10px 20px rgba(0, 0, 0, .3);
}
	




/* When unsing floats to create colums you need a "clearfix" */ 

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	Clear: both;
}

.clearfix {
	*zoom: 1; 
}
